{{#section 'head'}}
<link rel="stylesheet" href="/css/home.css">
{{/section}}
<div class="content-box">
    <div class="box-title">
        <h2>Bem-vindo a livraria Alexandria!</h2>
    </div>
    <div class="features">
        <div class="feature first-feature">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac,
                posuere eu, lectus. Nam mattis, felis ut adipiscing.</p>
        </div>
        <div class="feature second-feature">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac,
                posuere eu, lectus. Nam mattis, felis ut adipiscing.</p>
        </div>
        <div class="feature third-feature">
            <div class="third-feature-icon">
                <img src="/img/icons/estante_icone.png" alt="bookshelf icon">
            </div>
            <div class="third-feature-text">
                <h3>Acompanhe seus livros favoritos</h3>
                <p></br>Acesse seus E-books registrados e organize-os na aba Meus Livros</p>
            </div>
        </div>
    </div>
    <a href="#">Títulos Conhecidos</a>
    <ul class="carousel-container">
        <li class="carousel-item">
            <img src="/img/books/A República.png" alt="capa do livro a república de platão">
        </li>
        <li class="carousel-item">
            <img src="/img/books/A Riqueza das Nações.png" alt="capa do livro a riqueza das nações">
        </li>
        <li class="carousel-item">
            <img src="/img/books/Dom Casmurro.png" alt="capa do livro dom casmurro">
        </li>
        <li class="carousel-item">
            <img src="/img/books/Dom Quixote.png" alt="capa do livro dom quixote">
        </li>
        <li class="carousel-item">
            <img src="/img/books/Hamlet.png" alt="capa do livro hamlet">
        </li>
        <li class="carousel-item">
            <img src="/img/books/Ilíada.png" alt="capa do livro ilíada">
        </li>
        <li class="carousel-item">
            <img src="/img/books/O Capital.png" alt="capa do livro o capital">
        </li>
        <li class="carousel-item">
            <img src="/img/books/O Príncipe.png" alt="capa do livro o principe">
        </li>
        <li class="carousel-item">
            <img src="/img/books/Odisseia.png" alt="capa do livro odisseia">
        </li>
        <li class="carousel-item">
            <img src="/img/books/Os Lusíadas.png" alt="capa do livro os lusiadas">
        </li>
    </ul>
</div>