<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alexandria | Login</title>
</head>
<body>
    <div class="container">
        <div>
            <form method="post">
                <div>
                    <label for="email">E-mail:</label><br>
                    <input type="email" id="email" name="email" placeholder="user@example.com" 
                    minlength="10" maxlength="40" required><br>
                </div>
                <div>
                    <label for="senha">Senha:</label><br>
                    <input type="password" id="senha" name="senha" required><br>
                </div>
                <div>
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>